{% load render_table from django_tables2 %}
<div class="grid" style="grid-template-columns: 1fr;">
    <div class="overflow-auto" id="order_item_container">
        {% if order_items.data|length == 0 %}
            {% render_table order_items %}
            <small class="text-muted" style="float:center;">
                <i>No tournaments selected</i>  
            </small>
        {% else %}
            {% render_table order_items %}
        {% endif %}
        <hr>
        <h4 align="right">Total : {{ instance.tag_final_value }}</h4>
        </hr>
        <button style="width:100%;" onClick="location.href='{% url 'submit-order' instance.id %}';" type="submit"> Submit </button>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script>
    $('.edit_button').click(function (evt) {
        console.log('click')
        evt.preventDefault();
        const btn = $(this);
        const url = btn.attr('data-href');
        $.ajax({
            method: 'GET',
            url: url,
            dataType: 'json',

            success: function (data) {
                $('#order_item_container').html(data.result)
            }
        })
    });
</script>