{% extends "base.html" %}
{% block container %}  
    <style>
        #card {
            border-style: none solid none solid; 
            border-width: 8px; 
            border-color: light-dark(#033452, #9BCCFD);  
            border-radius: 20px;          
            padding: 40px;
            background-color: light-dark(#9BCCFD, #033452);
        }

        #time {
            width: auto;
        }
        @media (width < 50em) {
            #card {
                border-style: none solid none solid; 
                border-width: 8px; 
                border-color: light-dark(#033452, #9BCCFD);  
                border-radius: 20px;       
                padding-left: 10px;
                padding-right: 10px;
                padding-top: 40px;
                padding-bottom: 40px;
                background-color: light-dark(#9BCCFD, #033452);
            }

            #time {
                width: 60px;
            }
        }
    </style>
    <div class="container" id="card">
        <div class='header'>
            <h2 style=" margin-bottom: 20px;">
                <i onClick="location.href='{% url 'user-tourn-detail' return %}';" class="fa-solid fa-circle-arrow-left" id="icon"></i> 
                Matches Table
            </h2>
        </div>
        <hr>
        <div class="overflow-auto">
            <table style="border: 1px solid;">
                <thead>
                    <tr>
                        <th scope="col" id="time" style="text-align:center; border: 1px solid;">Time</th>
                        {% for i in range %}
                            <th style="text-align:center; border: 1px solid;">Pitch {{forloop.counter}}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for row in schedule  %}
                        <tr>
                            {% for match in row %}
                                {% if forloop.counter0 == 0 %}
                                    <td scope="row" style="text-align:center; border: 1px solid;">{{ match.start|time:"H:i" }} - {{ match.end|time:"H:i"}}</th>
                                {% else %}
                                    {% if match.entryOne == match.entryTwo %}
                                        <td style="text-align:center; border: 1px solid;">Free</td>
                                    {% elif match.played == True %}
                                        <td onclick="location.href='{% url 'match-result' match.id %}';" style="text-align:center; border: 1px solid; background-color: light-dark(#858585, #282828); cursor: pointer;">
                                            {{ match.entryOne }} - <b style="background-color: light-dark(#444444, #989898); color: light-dark(white, black);">&nbsp;{{ match.goalsOne }}&nbsp;</b><br>
                                            {{ match.entryTwo }} - <b style="background-color: light-dark(#444444, #989898); color: light-dark(white, black);">&nbsp;{{ match.goalsTwo }}&nbsp;</b>
                                        </td>
                                    {% elif match.division == 1 %}
                                        <td onclick="location.href='{% url 'match-result' match.id %}';" style="text-align:center; border: 1px solid; background-color: light-dark(#D3BFE8, #5B2D9C); cursor: pointer;">{{ match }}</td>
                                    {% elif match.division == 2 %}
                                        <td onclick="location.href='{% url 'match-result' match.id %}';" style="text-align:center; border: 1px solid; background-color: light-dark(#ADD8E6, #014C75); cursor: pointer;">{{ match }}</td>
                                    {% elif match.division == 3 %}
                                        <td onclick="location.href='{% url 'match-result' match.id %}';" style="text-align:center; border: 1px solid; background-color: light-dark(#C1E1C1, #015234); cursor: pointer;">{{ match }}</td>
                                    {% elif match.division == 4 %}
                                        <td onclick="location.href='{% url 'match-result' match.id %}';" style="text-align:center; border: 1px solid; background-color: light-dark(#FDF1B4, #997300); cursor: pointer;">{{ match }}</td>
                                    {% else %}
                                        <td onclick="location.href='{% url 'match-result' match.id %}';" style="text-align:center; border: 1px solid; background-color: light-dark(#C1E1C1, #015234); cursor: pointer;">{{ match }}</td>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <hr>
        <div class="grid">
            {% if knockout %}
                <button style="width: 100%;" onclick="location.href='{% url 'match-list' return %}';">Update Knockout Matches</button>   
            {% endif %}
            <button style="width: 100%;" class="secondary" onclick="location.href='{% url 'live-score' return %}';">View Live Score Table</button>   
        </div>
    </div>
{% endblock %}