{% extends "base.html" %}    <!--Creating form html template for user registration-->
{% load crispy_forms_tags %}
{% block container %}               <!--Using bootstrap from main base template-->
    <article>
        <div class="content-section">
            <h4>Reset Password</h4>
            <hr>
            <form method="POST">      <!--Creating form-->
                {% csrf_token %}      <!--Form security-->
                <fieldset class="form-group">
                    {{ form|crispy }}        <!--Substituting form data from views into template-->
                </fieldset>
                <div class="form-group">
                    <button class="btn btn-outline-info" type="submit">Reset Password</button>  <!--Sign up button-->
                </div>
            </form>
        </div>
    </article>
{% endblock %}