{% extends "base.html" %}    <!--Creating form html template for user registration-->
{% load crispy_forms_tags %}
{% block container %}               <!--Using bootstrap from main base template-->
    <article class="grid" style="border-radius:20px;">
        <div>
            <h3>Request Reset</h3>
            <hr>
            <form method="POST">      <!--Creating form-->
                {% csrf_token %}      <!--Form security-->
                <fieldset class="form-group">
                    <label>
                        Please enter the email address linked to your account:
                        {{ form.email }}        <!--Substituting form data from views into template-->
                    </label>
                </fieldset>
                <div class="form-group">
                    <button class="btn btn-outline-info" type="submit">Request Password Reset</button>  <!--Sign up button-->
                </div>
            </form>
        </div>
    </article>
{% endblock %}