{% extends "base.html" %}
{% block container %}
    <div class="container" id="box">
        <div class="grid">
            <h2 style="margin-top: 10px;">Past Events</h2>
            <input type="search" id="searchTourn" name="search" placeholder="Search" />
        </div>
        <hr>
        <div id="past-tourns">
            {% include 'include/past-tourns.html' %}
        </div>
    </div>
    <br>
    <div class="container" id="leagueBox">
        <div class="grid">
            <h2 style="margin-top: 10px;">Finished Leagues</h2>
            <input type="search" id="searchLeague" name="search" placeholder="Search" />
        </div>
        <hr>
        <div id="past-leagues">
            {% include 'include/past-leagues.html' %}
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type="text/javascript">
        document.getElementById("searchTourn").onsearch = function (evt) {
            evt.preventDefault();
            const data = $(this).val();
            $.ajax({
                method: 'GET',
                dataType: 'json',
                url: 'search/',
                data: {'data': data},
                success : function (data) {
                    $('#past-tourns').html(data.result)
                }
            })
        };

        document.getElementById("searchTourn").addEventListener("keypress", function(event) {
            // If the user presses the "Enter" key on the keyboard
            if (event.keyCode == 13) {
                event.preventDefault();
                const data = $(this).val();
                $.ajax({
                    method: 'GET',
                    dataType: 'json',
                    url: 'search/',
                    data: {'data': data},
                    success : function (data) {
                        $('#past-tourns').html(data.result)
                    }
                })
            }
        });

        document.getElementById("searchLeague").onsearch = function (evt) {
            evt.preventDefault();
            const data = $(this).val();
            $.ajax({
                method: 'GET',
                dataType: 'json',
                url: 'search-league/',
                data: {'data': data},
                success : function (data) {
                    $('#past-leagues').html(data.result)
                }
            })
        };

        document.getElementById("searchLeague").addEventListener("keypress", function(event) {
            // If the user presses the "Enter" key on the keyboard
            if (event.keyCode == 13) {
                event.preventDefault();
                const data = $(this).val();
                $.ajax({
                    method: 'GET',
                    dataType: 'json',
                    url: 'search-league/',
                    data: {'data': data},
                    success : function (data) {
                        $('#past-leagues').html(data.result)
                    }
                })
            }
        });
    </script>
{% endblock %}
