{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block container %}
    <section>
        <div class='container' id='box'>
            <h2>
                <i onClick="location.href='{% url 'account' %}';" class="fa-solid fa-circle-arrow-left" id="icon"></i> 
                Your Entries
                <span style="float:right; margin-right:20px; cursor:pointer;">
                <i onclick="filterView()" class="fa-solid fa-sliders" id="icon"></i>
                </span>
            </h2>
            <form method="get" id="filter" style="display: none;">
                <fieldset class="grid" style="grid-template-columns: 5fr 1fr 1fr;">
                    <label>Tourament {{ filter.form.tournament }}</label>
                    <button style="height: calc(1rem* var(--pico-line-height) + var(--pico-form-element-spacing-vertical)* 2 + var(--pico-border-width)* 2); margin-top: 35px;" onclick="submit"><i class="fa-solid fa-filter"></i></button>
                    <input style="margin-top: 35px;" class="secondary" type="button" onclick="location.href='{% url 'user-entry-list' %}';" value="X" />
                </fieldset>
            </form>
            <hr>
            <div class="grid" id="tournPage">
                {% for entry in filter.qs  %}
                    <article>
                        <h4>
                            {{ entry.teamName }} {{ entry.tournament.age }} {{ entry.tournament.gender }}
                            <span style="float: right;">
                                <a style="color: #AF291D;" href="{% url 'entry-request-delete' entry.id %}" onclick="return confirm('Request for delete will be emailed to tournament manager.')"><i class="fa-solid fa-trash-can" id="icon"></i></a>
                            </span>
                        </h4>
                        <hr>
                        <p><b><i class="fa-solid fa-trophy"></i> Event:</b>&emsp;<a href="{% url 'tourn-detail' entry.tournament.id %}">{{ entry.tournament.name }}</a></p>
                        <p><b><i class="fa-solid fa-calendar-days"></i> Date:</b>&emsp;{{ entry.tournament.date|date:"l, F dS Y" }}</p>
                        <p><b><i class="fa-solid fa-tags"></i> Tags:</b>&ensp;&emsp;<small id="{{ entry.tournament.group }}">{{ entry.tournament.group }}</small></p>
                        <hr>
                        {% if entry.tournament.teamsheets %}
                            {% if entry.teamsheet == "" %}
                                <p style="color: #AF291D;"><b>Please upload a team sheet for this entry:</b></p>
                            {% elif entry.teamsheet == None %}
                                <p style="color: #AF291D;"><b>Please upload a team sheet for this entry:</b></p>
                            {% else %}
                                <p style="color: green;"><b><i class="fa-solid fa-check"></i>&ensp; Team sheet uploaded</b></p>
                            {% endif %}
                        {% endif %}
                        <button class="outline primary" style="width: 100%;" onclick="location.href='{% url 'entry-update' entry.id %}';">Update</button>
                    </article>
                {% endfor %}
            </div>
        </div>
    </section>
    <script>
        function filterView() {
            var x = document.getElementById("filter");
            if (x.style.display === "none") {
                x.style.display = "block";
            } else {
                x.style.display = "none";
            }
            }
    </script>
    <script src="{% static "js/modal.js" %}"></script>
{% endblock %}