{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block container %}
    <section>
        <div class='container' id='box'>
            <h2>
                <i onClick="location.href='{% url 'account' %}';" class="fa-solid fa-circle-arrow-left" id="icon"></i>
                All Users
                <span style="float:right; margin-right:20px; cursor:pointer;">
                    <i style="margin-right: 10px; color: green;" onclick="location.href='{% url 'user-create' %}';" class="fa-solid fa-plus"></i>
                    <i onclick="filterView()" class="fa-solid fa-sliders" id="icon"></i>
                </span>
            </h2>
            <form method="get" id="filter" style="display: none;">
                <fieldset class="grid" id="filterGrid">
                    <label>Name {{ filter.form.name }}</label>
                    <label>Group {{ filter.form.groups }}</label>
                    <button style="height: calc(1rem* var(--pico-line-height) + var(--pico-form-element-spacing-vertical)* 2 + var(--pico-border-width)* 2); margin-top: 35px;" onclick="submit"><i class="fa-solid fa-filter"></i></button>
                    <input style="margin-top: 35px;" class="secondary" type="button" onclick="location.href='{% url 'user-list' %}';" value="X" />
                </fieldset>
            </form>
            <hr>
            <div class="overflow-auto">
                <table style="border-radius:20px;">
                    <thead>
                        <tr>
                            <th>User</th>
                            <th style="text-align: center;">Profile</th>
                            <th style="text-align: center; border-right: 2px solid;">Orders</th>
                            <th style="text-align: center;">Due</th>
                            <th style="text-align: center;">Paid</th>
                            <th style="text-align: center;">Balance</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for user in filter.qs %}
                            <tr>
                                <td>{{ user.username }}</td>
                                <td style="text-align: center;"><a href="{% url 'profile' user.id %}"><i class="fa fa-edit"></i></a></td>
                                <td style="text-align: center; border-right: 2px solid;"><a href="{% url 'order-list' user.id %}">View</a></td>
                                <td style="text-align: center;">{{ user.profile.tag_due }}</td>
                                <td style="text-align: center;">{{ user.profile.tag_paid }}</td>
                                {% if user.profile.balance < 0 %}
                                    <td style="text-align: center; color: red;">{{ user.profile.tag_balance }}</td>
                                {% else %}
                                    <td style="text-align: center; color: green;">{{ user.profile.tag_balance }}</td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
        </div>
    </section>
    <script>
        function filterView() {
            var x = document.getElementById("filter");
            if (x.style.display === "none") {
              x.style.display = "block";
            } else {
              x.style.display = "none";
            }
          }
    </script>
{% endblock %}