{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block container %}
    <div class="container" id="box">
        <h2>
            <i onClick="location.href='{% url 'account' %}';" class="fa-solid fa-circle-arrow-left" id="icon"></i>      
            Create Whole Season Sign-Up Form
            <span style="float: right;"><article>{{ group }}</article></span>
        </h2>
        <form method="POST" id="form">      
            {% csrf_token %}    
            <fieldset>
                <div class="grid">
                    <div>
                        <h4>Tournaments</h4>
                        {{ form.tournaments }}
                    </div>
                </div>
            </fieldset>
            <hr>
            <div class="form-group">
                <button type="submit">Send Form</button>
            </div>  
        </form>
    </div>
{% endblock %}


